<div class="row col-md-12 font-weight-bold">
  <p class="col-md-12">MainComponent</p>
</div>
<div class="row col-md-12">
  <p class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Vitae ultricies leo integer malesuada nunc vel risus commodo. Turpis nunc eget lorem dolor sed viverra. Tempus imperdiet
  nulla malesuada pellentesque elit eget gravida cum sociis. Tincidunt ornare massa eget egestas. Mi tempus imperdiet nulla
  malesuada pellentesque elit eget gravida. Mi sit amet mauris commodo quis imperdiet massa. Orci sagittis eu volutpat odio
  facilisis mauris sit. Id volutpat lacus laoreet non curabitur gravida arcu ac. Porta non pulvinar neque laoreet. Nulla facilisi
  morbi tempus iaculis urna id volutpat lacus. Fermentum et sollicitudin ac orci. In fermentum posuere urna nec tincidunt praesent.
  Elit at imperdiet dui accumsan sit amet nulla facilisi. Mi proin sed libero enim sed faucibus turpis in eu. Eu tincidunt
  tortor aliquam nulla. Nec ultrices dui sapien eget mi proin sed libero enim. Felis eget nunc lobortis mattis aliquam faucibus.
  Ac orci phasellus egestas tellus rutrum tellus. In nisl nisi scelerisque eu ultrices vitae auctor eu. Egestas integer eget
  aliquet nibh praesent tristique magna sit. Mauris rhoncus aenean vel elit. Sed risus pretium quam vulputate dignissim. Ultricies
  mi quis hendrerit dolor magna eget est. Gravida cum sociis natoque penatibus et magnis dis. Pellentesque sit amet porttitor
  eget. Tincidunt lobortis feugiat vivamus at augue eget arcu.</p>
</div>