<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="display-4">{{ title }}</h1>
</div>
<table class="table table-striped my-5">
  <thead>
    <tr>
      <th scope="column">Email</th>
      <th scope="column">Importance</th>
      <th scope="column">Subject</th>
      <th scope="column">Content</th>
    </tr>
  </thead>
  <tr *ngFor="let msg of myEmails">
    <td>{{ msg.email }}</td>
    <td>{{ msg.importance }}</td>
    <td>{{ msg.subject }}</td>
    <td>{{ msg.content }}</td>
  </tr>
</table>
<div class="row col-md-11 mx-auto my-5">
  <h1>Retro Barcode Generator</h1>
  <div class="row col-md-12 mx-auto p-0">
    <div *ngFor='let x of myColorIndexArray; let idx = index' class="col-md-1" [ngStyle]="{ 'background-color': myRandomColorArray[x], 'height': '45px' }"></div>
  </div>
</div>

