<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Check out these great cars</h1>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cars1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Cars of the Future</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cars2.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Build it Yourself</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cars3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Every Child's Dream</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cars4.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Not Every Kid's Dream</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/beater1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">And what car collection would be complete without this one?</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/herbie.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">And, of course, my favorite car of all time ...</h4>
            </div>
        </div>
        <hr class="my-5">
        <a href="/">Go Back</a>
        <a href="/cars/new">Add a new Car</a>
        <a href="/cats">See Cats</a>
    </div>
</body>

</html>