<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Check out these cats</h1>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cats1.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">The best cat of all time</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cats3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">What got to him?</h4>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/images/cats4.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Probably the same thing that got to this one</h4>
            </div>
        </div>
        <hr class="my-5">
        <a href="/">Go Back</a>
        <a href="/cars">See Cars</a>
        <a href="/cars/new">Add a new Car</a>
    </div>
</body>

</html>